.card {
    width: 9rem;
    height: auto;
    transition: all 0.3s;
}

.card:hover {
    transform: scale(1.1);
}

.manga-cover {
    width: 100%;
}

.error-message {
    color: red;
    font-weight: bold;
    text-align: center;
    height: 69vh;
}
  

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

footer {
    height: 50px;
}
