.card {
    width: 9rem;
    height: auto;
    transition: all 0.3s;
}

.card:hover {
    transform: scale(1.1);
}

.manga-cover {
    width: 100%;
}

p {
    font-size: small;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

